*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/.kotlin
captures
externalNativeBuild
.cxx
local.properties
.env
.env.*
backend/.env
backend/.env.*
!backend/.env.example
backend/New Text Document.txt
